In [16]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [17]:
df_cat = pd.read_csv('/home/supriya/Desktop/FDV/aviation_prediction/categorical_data.csv')
df_num = pd.read_csv('/home/supriya/Desktop/FDV/aviation_prediction/Numerical_data.csv')

/tmp/ipykernel_5274/3177306227.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cat = pd.read_csv('/home/supriya/Desktop/FDV/aviation_prediction/categorical_data.csv')

In [18]:
df_num.drop(columns='Model', inplace= True)

In [19]:
data = pd.concat([df_cat, df_num], axis=1)

In [20]:
data.head()

,Investigation.Type,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Engine.Type,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Total.Uninjured,Total.Injuries
0,accident,united states,fatal,destroyed,NaN,stinson,n,1.0,reciprocating,NaN,personal,NaN,unk,cruise,0.0,2.0
1,accident,united states,fatal,destroyed,NaN,piper,n,1.0,reciprocating,NaN,personal,NaN,unk,unknown,0.0,4.0
2,accident,united states,fatal,destroyed,NaN,cessna,n,1.0,reciprocating,NaN,personal,NaN,imc,cruise,NaN,3.0
3,accident,united states,fatal,destroyed,NaN,rockwell,n,1.0,reciprocating,NaN,personal,NaN,imc,cruise,0.0,2.0
4,accident,united states,fatal,destroyed,NaN,cessna,n,NaN,NaN,NaN,personal,NaN,vmc,approach,0.0,3.0

In [21]:
# df_cat = df_cat.astype('category')

In [22]:
df_cat.head()

,Investigation.Type,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Engine.Type,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight
0,accident,united states,fatal,destroyed,NaN,stinson,n,1.0,reciprocating,NaN,personal,NaN,unk,cruise
1,accident,united states,fatal,destroyed,NaN,piper,n,1.0,reciprocating,NaN,personal,NaN,unk,unknown
2,accident,united states,fatal,destroyed,NaN,cessna,n,1.0,reciprocating,NaN,personal,NaN,imc,cruise
3,accident,united states,fatal,destroyed,NaN,rockwell,n,1.0,reciprocating,NaN,personal,NaN,imc,cruise
4,accident,united states,fatal,destroyed,NaN,cessna,n,NaN,NaN,NaN,personal,NaN,vmc,approach

In [23]:

from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)
imputed_data = imputer.fit_transform(df_num)

In [51]:
df_num = pd.DataFrame(imputed_data, columns=df_num.columns)

In [52]:
df_num.isna().sum()

Total.Uninjured    0
Total.Injuries     0
dtype: int64

In [53]:
df_cat2 = pd.read_csv('/home/supriya/Desktop/FDV/aviation_prediction/cat_df_imputed_with_mode.csv')

In [54]:
df_cat2.isna().sum()

Investigation.Type       0
Country                  0
Injury.Severity          0
Aircraft.damage          0
Aircraft.Category        0
Make                     0
Amateur.Built            0
Number.of.Engines        0
Engine.Type              0
Schedule                 0
Purpose.of.flight        0
Air.carrier              0
Weather.Condition        0
Broad.phase.of.flight    0
dtype: int64

In [55]:
data = pd.concat([df_cat2, df_num], axis=1)

In [56]:
data.head()

,Investigation.Type,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Engine.Type,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Total.Uninjured,Total.Injuries
0,0,195,0,0,0,6421,0,1.0,4,0,19,9080,1,2,0.0,2.0
1,0,195,0,0,0,5153,0,1.0,4,0,19,9080,1,11,0.0,4.0
2,0,195,0,0,0,1226,0,1.0,4,0,19,9080,0,2,0.0,3.0
3,0,195,0,0,0,5642,0,1.0,4,0,19,9080,0,2,0.0,2.0
4,0,195,0,0,0,1226,0,1.0,4,0,19,9080,2,0,0.0,3.0

In [57]:

X = data.drop(columns='Injury.Severity')
y = data['Injury.Severity']

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [59]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
from sklearn.metrics import classification_report
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
y_predict = clf.predict(X_test)
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.71      0.72      0.72      3554
           1       0.93      0.93      0.93     13903

    accuracy                           0.88     17457
   macro avg       0.82      0.83      0.82     17457
weighted avg       0.89      0.88      0.88     17457

In [36]:
# from sklearn.preprocessing import LabelEncoder


# label_encoder = LabelEncoder()

# for column in df_cat.columns:
#     df_cat[column] = df_cat[column].fillna('missing')
#     label_encoder.fit(df_cat[column].astype(str))
#     df_cat[column] = label_encoder.transform(df_cat[column].astype(str))
#     df_cat[column] = df_cat[column].replace(label_encoder.transform(['missing'])[0], np.nan)


# df_cat.head()

In [37]:
data.isna().sum()

Investigation.Type       0
Country                  0
Injury.Severity          0
Aircraft.damage          0
Aircraft.Category        0
Make                     0
Amateur.Built            0
Number.of.Engines        0
Engine.Type              0
Schedule                 0
Purpose.of.flight        0
Air.carrier              0
Weather.Condition        0
Broad.phase.of.flight    0
Total.Uninjured          0
Total.Injuries           0
dtype: int64

In [38]:
data_without_null = data.dropna()

In [39]:
data.shape

(87282, 16)

In [40]:
data_without_null.shape

(87282, 16)

In [41]:
data_without_null.head()

,Investigation.Type,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Engine.Type,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Total.Uninjured,Total.Injuries
0,0,195,0,0,0,6421,0,1.0,4,0,19,9080,1,2,0.0,2.0
1,0,195,0,0,0,5153,0,1.0,4,0,19,9080,1,11,0.0,4.0
2,0,195,0,0,0,1226,0,1.0,4,0,19,9080,0,2,0.0,3.0
3,0,195,0,0,0,5642,0,1.0,4,0,19,9080,0,2,0.0,2.0
4,0,195,0,0,0,1226,0,1.0,4,0,19,9080,2,0,0.0,3.0

In [42]:
def make_lower(df):
    for col in df.columns:
        if df[col].dtype == 'object': 
            df[col] = df[col].str.lower()
    return df

In [43]:
make_lower(data_without_null)

,Investigation.Type,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Engine.Type,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Total.Uninjured,Total.Injuries
0,0,195,0,0,0,6421,0,1.0,4,0,19,9080,1,2,0.0,2.0
1,0,195,0,0,0,5153,0,1.0,4,0,19,9080,1,11,0.0,4.0
2,0,195,0,0,0,1226,0,1.0,4,0,19,9080,0,2,0.0,3.0
3,0,195,0,0,0,5642,0,1.0,4,0,19,9080,0,2,0.0,2.0
4,0,195,0,0,0,1226,0,1.0,4,0,19,9080,2,0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87277,0,195,0,0,0,1321,0,1.0,4,0,27,9080,2,5,0.0,1.0
87278,0,195,1,2,0,1226,0,1.0,4,0,20,4794,2,5,0.0,1.0
87279,0,195,0,2,0,1226,0,1.0,4,0,19,9080,2,5,0.0,2.0
87280,0,195,1,2,0,1226,0,1.0,4,0,19,4370,2,5,0.0,3.0
87281,0,139,1,2,0,4642,0,1.0,4,0,19,9080,2,5,3.0,0.0

In [44]:
data_without_null.sample(2)

,Investigation.Type,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Amateur.Built,Number.of.Engines,Engine.Type,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Total.Uninjured,Total.Injuries
16027,0,195,1,2,0,1226,0,1.0,4,0,17,9080,2,5,2.0,0.0
79409,0,195,0,2,5,5630,0,1.0,4,0,2,9080,2,5,0.0,2.0

In [45]:
data_without_null['Injury.Severity'].value_counts()

Injury.Severity
1    69759
0    17523
Name: count, dtype: int64

In [46]:
data_without_null['Injury.Severity'].replace('incident', 'non-fatal', inplace=True)

/tmp/ipykernel_5274/4169823653.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_without_null['Injury.Severity'].replace('incident', 'non-fatal', inplace=True)

In [47]:
data_without_null['Injury.Severity'].value_counts()

Injury.Severity
1    69759
0    17523
Name: count, dtype: int64